/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.table-header {
  background: #04AA6D; 
  color: #ffffff; 
  line-height: 30px;
}

.rowLnHt {
  line-height: 30px;
}

.txt-center{
  text-align: center;
}

.alternate-rows:nth-child(even) {
  background-color: #ececec;
}

.alternate-rows:nth-child(odd) {
  background-color:#dfdfdf;
}

.alternate-rows:hover {
  background-color:#d6d6d6;
}

.btn-common {
  background: #04AA6D;
  border: 1px solid #038d5a;
  color: #ffffff;
  padding: 0px 3px;
  margin-right: 5px;
  width: fit-content;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}

.btn-common:hover {
  background: #048f5c;
}

.btn-admin {
  background: #aa0404;
  border: 1px solid #8d0303;
  color: #ffffff;
  padding: 0px 3px;
  margin-right: 5px;
  width: fit-content;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}

.btn-admin:hover {
  background: #8f0404;
}



.pd-10 {
  padding: 10px;
}

